        <!--우측 콘텐츠 헤더영역 -->
        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-lg-10">
            <h2>게시글 확인 및 수정</h2>
            <ol class="breadcrumb">
              <li><a href="/">Home</a> ></li>
              <li><a> 게시글 확인</a> ></li>
              <li class="active">
                <strong> 수정/삭제</strong>
              </li>
            </ol>
          </div>
          <div class="col-lg-2"></div>
        </div>

        <!--우측 콘텐츠 영역 -->
        <form action="/article/modify/<%=article.article_id%>" method="post" id="articleForm">
          <div class="wrapper wrapper-content">
            <div class="ibox-content m-b-sm border-bottom">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">게시판</label>
                    <select name="board_type_code" id="board_type_code" class="form-control">
                      <!-- <option value="0" <%= article.board_type_code == '0' ? 'selected' : '' %>>선택</option> -->
                      <option value="1" <%= article.board_type_code == '1' ? 'selected' : '' %>>공지게시판</option>
                      <option value="2" <%= article.board_type_code == '2' ? 'selected' : '' %>>일반게시판</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- 글 제목 영역 -->
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">게시글 제목</label>
                    <input type="text" name="title" id="title" class="form-control" value="<%=article.title%>" />
                  </div>
                </div>
              </div>
              <!-- 글 내용 영역 -->
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">게시글 내용</label>
                    <textarea class="form-control" name="contents" id="contents" rows="10" cols="5"><%=article.contents%>
                    </textarea>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">게시글 유형</label>
                    <select name="article_type_code" id="article_type_code" class="form-control">
                      <option value="1" <%= article.article_type_code == '1' ? 'selected' : '' %>>상단 고정 게시글</option>
                      <option value="0" <%= article.article_type_code == '0' ? 'selected' : '' %>>일반 게시글</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">게시 여부</label>
                    <select name="is_display_code" id="is_display_code" class="form-control">
                      <option value="1" <%= article.is_display_code == '1' ? 'selected' : '' %>>게시함</option>
                      <option value="0" <%= article.is_display_code == '0' ? 'selected' : '' %>>게시안함</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">수정자명</label>
                    <input type="text" name="register" id="register" class="form-control" value="<%=article.reg_member_id %>" />
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary">수정</button>
                <button type="button" class="btn btn-danger" id="btnDelete">삭제</button>
                <a href="/article/list" class="btn btn-info">목록</a>
              </div>
            </div>
          </div>
        </form>

        <!--우측 하단 풋터 영역-->
        <div class="footer">
          <div class="pull-right">10GB of <strong>250GB</strong> Free.</div>
          <div><strong>Copyright</strong> Example Company &copy; 2014-2018</div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $('#board_type_code').focus();
      });

      // form태그내 사용자가 입력한 데이터 유효성검사(Validation Check)함수 구현
      $('#articleForm').submit(function () {
        // 게시판 유형값 선택여부 체크
        if ($('#board_type_code').val() == '0') {
          alert('게시판 유형을 선택해주세요.');
          $('#board_type_code').focus();
          return false;
        }

        // 제목 입력여부 체크
        if ($('#title').val() == '') {
          alert('제목을 입력해주세요.');
          $('#title').focus();
          return false;
        }

        // 게시판 유형선택 체크
        if ($('#article_type_code').val() == '0') {
          alert('게시판 유형을 선택해주세요.');
          $('#article_type_code').focus();
          return false;
        }

        // 게시여부 선택 체크
        if ($('#is_display_code').val() == '9') {
          alert('게시여부를 선택해주세요.');
          $('#is_display_code').focus();
          return false;
        }

        // 작성자명 입력 여부 체크
        if ($('#register').val() == '') {
          alert('작성자명을 입력해주세요.');
          $('#register').focus();
          return false;
        }

        return true;
      });

      // 클라이언트(웹브라우저)에서 삭제버튼이 클릭되면 최종 삭제여부 확인 후 삭제 라우팅 메소드 호출하기
      $("#btnDelete").click(function(){
        if(confirm('정말로 삭제하시겠습니까?')){
          // 사용자가 confirm창의 확인 버튼을 누르면 true가 반환되기 때문에
          // 확인 버튼 클릭시 실행해야하는 기능 구현
          location.href='/article/delete?aid=<%=article.article_id%>';
        } else {
          alert('삭제를 취소했습니다.')
        };
      })
    </script>
