<!--우측 콘텐츠 헤더영역 -->
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>사용자 정보 등록</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home > </a>
      </li>
      <li>
        <a>사용자정보관리 ></a>
      </li>
      <li class="active">
        <strong>등록</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<!--우측 콘텐츠 영역 -->
<div class="wrapper wrapper-content">
  <form action="/member/modify/<%=member.member_id%>" method="post">
    <div class="ibox-content m-b-sm border-bottom">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">메일주소</label>
            <input type="text" name="email" class="form-control" value="<%=member.email%>" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">비밀번호</label>
            <input type="password" name="member_password" class="form-control" value="<%=member.member_password%>" />
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">이름</label>
            <input type="text" name="name" class="form-control" value="<%=member.name%>" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">사진업로드</label>
            <input type="file" class="form-control" name="profile_img_path" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">전화번호</label>
            <input type="text" class="form-control" name="telephone" value="<%=member.telephone%>" />
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">생년월일</label>
            <input type="text" class="form-control" name="birth_date" value="<%=member.birth_date%>" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">회원가입유형</label>
            <select name="entry_type_code" class="form-control">
              <option value="0" <%= member.used_yn_code === "0" ? 'selected' : '' %>>직접가입</option>
              <option value="1" <%= member.used_yn_code === "1" ? 'selected' : '' %>>SNS-Facebook</option>
              <option value="2" <%= member.used_yn_code === "2" ? 'selected' : '' %>>SNS-Google</option>
              <option value="3" <%= member.used_yn_code === "3" ? 'selected' : '' %>>SNS-Kakao</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">가입상태정보</label>
            <select name="use_state_code" class="form-control">
              <option value="1" <%= member.use_state_code == "1" ? 'selected' : '' %>>활동중</option>
              <option value="0" <%= member.use_state_code == "0" ? 'selected' : '' %>>활동중지</option>
            </select>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">가입일시</label>
            <input type="text" class="form-control" readonly value="<%=moment(member.reg_date).format('YYYY-MM-DD HH:mm')%>" />
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">저장</button>
        <button type="button" class="btn btn-danger" id="btnDelete">삭제</button>
        <a href="/member/list" class="btn btn-info">목록</a>
      </div>
    </div>
  </form>
</div>

<script>
  $('#btnDelete').click(function () {
    if (confirm('정말로 삭제하시겠습니까?')) {
      // 사용자가 confirm창의 확인 버튼을 누르면 true가 반환되기 때문에
      // 확인 버튼 클릭시 실행해야하는 기능 구현
      location.href = '/member/delete?mid=<%=member.member_id%>';
    } else {
      alert('삭제를 취소했습니다.');
    }
  });
</script>
