<!doctype html>
<html>
  <head>
    <title>JWT TOKEN 확인</title>
  </head>
  <body>
    <h1>전달된 JWT TOKEN 값 확인~</h1>
    <form>
      사용자 아이디: <input type="text" name="userId" value="<%=tokenJsonData.userId%>" /> <br />
      메일주소: <input type="text" name="email" value="<%=tokenJsonData.email%>" /> <br />
      사용자유형: <input type="text" name="userType" value="<%=tokenJsonData.userType%>" /> <br />
      이름:<input type="text" name="name" value="<%=tokenJsonData.name%>" /> <br />
      전화번호:<input type="text" name="telephone" value="<%=tokenJsonData.telephone%>" /> <br />
      <hr />
      전달된 JWT 토큰값: <%=token%>
    </form>
  </body>
</html>
